<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h2>About Usain Bolt</h2>
    <div class="firstContainer">
        <a href="/">Go to Homepage</a>
    </div>
    <img src="/images/ubthird.jpg" alt="Usain Bolt About">
    <p>Usain Bolt, in full Usain St. Leo Bolt, (born August 21, 1986, Montego Bay, Jamaica), Jamaican sprinter who won gold medals in the 100-metre and 200-metre races in an unprecedented three straight Olympic Games and is widely considered the greatest sprinter of all time.</p>
</body>
</html>