<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <title>Document</title>
</head>
<body>
    <h2>Work</h2>
    <a href="/">Go to Homepage</a>
    <img src="/images/ubsecond.jpg" alt="Usain Bolt Work">
    <p>Arguably the most naturally gifted athlete the world has ever seen, Usain St Leo Bolt, created history at the 2016 Olympic Games in Rio when he achieved the Triple Triples, three gold medals at three consecutive Olympic Games. Usains journey to worldwide stardom started at the 2008 Olympic Games in Beijing where he won the 100m, 200m and 4x100m, all in world record times. He followed this up with three gold medals in the same events at the 2012 Olympic Games in London to write his name in the history books as the worlds fastest man. Then, one day before his 30th birthday, he completed the same triple at the 2016 Olympic Games in Rio to cement his legacy as a legend in world sport.</p>
</body>
</html>